			body {
				padding-top: 60px;
			}
			line {
                stroke: black;
                stroke-width: 1;
                shape-rendering: crispEdges;
            }
            
            .plotline {
                stroke-width: 1.4;
                fill: none;
            }
            
            text {
                font-family: Sans-serif;
                font-size: 12px;
            }
